/* Write your CSS code here. */
.app-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.feedback-card {
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
}

@media screen and (min-width: 768px) {
  .feedback-card {
    padding: 32px;
  }
}

.feedbackQueContainer {
  display: contents;
  flex-direction: column;
}

.feedback-question {
  text-align: center;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
.emoji-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin-top: 32px;
}
.emoji-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  outline: none;
}
.emoji {
  width: 45px;
  height: 45px;
}

@media screen and (min-width: 768px) {
  .emoji {
    width: 70px;
    height: 70px;
  }
}

.emoji-name {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .emoji-name {
    font-size: 20px;
  }
}

.thank-you-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.love-emoji {
  width: 60px;
  height: 54px;
}

.thank-you-text {
  text-align: center;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.description {
  text-align: center;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
}
